:root {
    --bs-body-font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.alert {
    font-size: 1.4rem;
}

.btn {
    font-size: 1.6rem;
    border-radius: 0.6rem;
}

a[disabled] {
    pointer-events: none;
    color: gray;
}

.text-truncate--small {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-truncate--medium {
    display: inline-block;
    width: 178px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-radius {
    border-radius: 8px;
    overflow: hidden;
}

.card-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.card-title--small {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.card-title--medium {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.text-small {
    font-size: 1.4rem;
}

.table-data4 thead {
    background: #333;
}

.table-data4 thead tr th {
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 16px 30px;
}

.table-data4 tbody td {
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #808080;
    padding: 10px 30px;
}

.table-data4 thead tr th, .table-data4 tbody td {
    padding-right: 10px;
    vertical-align: middle;
}

.table-data4 thead tr th:last-child, .table-data4 tbody tr td:last-child {
    text-align: right;
    padding-right: 40px;
}

.table-data5 thead {
    background: #333;
}

.table-data5 thead tr th {
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 16px 25px;
}

.table-data5 tbody td {
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #808080;
    padding: 10px 25px;
}

.table-data5 thead tr th, .table-data5 tbody td {
    padding-right: 10px;
    vertical-align: middle;
}

.table-data5 thead tr th:last-child, .table-data5 tbody tr td:last-child {
    text-align: right;
    padding-right: 30px;
}

.table-data6 thead {
    background: #333;
}

.table-data6 thead tr th {
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 16px 25px;
}

.table-data6 tbody td {
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #808080;
    padding: 10px 25px;
}

.table-data6 thead tr th, .table-data6 tbody td {
    padding-right: 10px;
    vertical-align: middle;
}

.table-data6 thead tr th:last-child, .table-data6 tbody tr td:last-child {
    padding-right: 25px;
}

.form-control, .form-control-label, .form-control-file {
    font-size: 1.4rem;
    line-height: 2rem;
}

.form-control, .form-control-file {
    height: calc(2.8rem + 2px);
}

.form-control-label {
    margin-bottom: 0.3rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.8rem + 2px);
    padding-left: 0.35rem;
}

.form-group {
    margin-bottom: 0.64rem;
}

select.form-select--small {
    font-size: 1.3rem;
}

.text--small {
    font-size: 1.3rem;
}

.text--normal {
    font-size: 1.4rem;
}
