:root {
    --bs-body-font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.alert {
    font-size: 1.3rem;
}

.btn {
    font-size: 1.6rem;
    border-radius: 0.6rem;
}

.form-control {
    font-size: 1.6rem;
}
