.au-input--small {
    line-height: 4rem;
    padding: 0 16px;
}

.register-link {
    padding-top: 14px;
}

.card-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-action-wrapper--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-action-item:not(:first-child) {
    margin-left: 5px;
}

.card-img-custom {
    height: 170px;
    border: 1px solid #ddd;
    padding: 3px 5px;
}

.main-content {
    padding-top: 110px;
    min-height: 92vh;
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 50px;
	    padding-bottom: 100px;
    }
}

.icon-small {
    width: 32px;
    height: 32px;
}

.text-truncate--two-line {
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
   /* line-height: 1.5rem;        /* fallback */
   /* max-height: 3rem;     */
}

/* .logo-wrapper {
    min-width: 50%;
    width: 140px;
}

.login-logo {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.card-small {
    max-width: 540px;
}

.form-action-wrapper {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.form-action-wrapper_item:not(:first-child) {
    margin-left: 5px;
} */
